.product-detail-v20 { 
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1800px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #1e1e1e;
  font-family: Inter;
}
.footer { position: relative; margin-top: 120px; width: 100%; height: 388px; font-size: 16px; }
.product-detail-v20-footer { position: relative; box-shadow: 0px 4px 4px rgba(0,0,0,0.25); background-color: rgba(255,121,38,0.18); width: 100%; height: 388px; overflow: hidden; display: flex; align-items: flex-start; flex-wrap: wrap; align-content: flex-start; padding: 32px 32px 160px; box-sizing: border-box; gap: 16px; }
.title { width: 460px; display: flex; flex-direction: column; align-items: flex-start; gap: 24px; min-width: 240px; }
.figma { width: 23.3px; height: 35px; display: flex; align-items: center; justify-content: center; }
.button-list { display: flex; align-items: center; gap: 16px; }
.x-logo-icon { width: 24px; position: relative; height: 24px; }
.text-link-list { width: 406px; position: relative; height: 242px; }
.product-detail-v20-title { position: absolute; top: 0px; left: 0px; width: 301px; display: flex; flex-direction: column; align-items: flex-start; padding: 0px 0px 16px; box-sizing: border-box; }
.text-strong { align-self: stretch; display: flex; align-items: flex-start; }
.product-detail-v20-text-strong { position: relative; line-height: 140%; font-weight: 600; }
.text-link-list-item { position: absolute; top: 50px; left: 0px; width: 89px; height: 22px; }
.list-item { position: absolute; top: 0%; left: 0%; line-height: 140%; }
.product-detail-v20-text-link-list-item { position: absolute; top: 84px; left: 0px; width: 89px; height: 22px; }
.text-link-list-item2 { position: absolute; top: 118px; left: 0px; width: 89px; height: 22px; }
.text-link-list-item3 { position: absolute; top: 152px; left: 0px; width: 89px; height: 22px; }
.text-link-list-item4 { position: absolute; top: 186px; left: 0px; width: 89px; height: 22px; }
.text-link-list-item5 { position: absolute; top: 220px; left: 0px; width: 89px; height: 22px; }
.list-item5 { position: absolute; top: -100%; left: 0%; line-height: 140%; }
.blank-line { margin: 0; }
.product-detail-v20-text-link-list { width: 477px; position: relative; height: 208px; }
.title2 { position: absolute; top: 0px; left: 0px; width: 262px; display: flex; flex-direction: column; align-items: flex-start; padding: 0px 0px 16px; box-sizing: border-box; }
.text-link-list2 { width: 391px; position: relative; height: 140px; }
.list-item12 { position: absolute; top: 0%; left: 0%; line-height: 140%; font-weight: 600; }
.image-3-icon { position: absolute; top: 4px; left: 16px; border-radius: 39px; width: 80px; height: 78px; object-fit: cover; }
.image-2-icon { position: absolute; top: 5px; left: 33px; border-radius: 27px; width: 80px; height: 78px; object-fit: cover; }
.header { position: fixed; top: 0px; left: 0px; right: 0px; box-shadow: 0px 4px 4px rgba(0,0,0,0.5); height: 99px; overflow: hidden; text-align: center; font-size: 13px; color: #ffa065; font-family: 'SF Pro Rounded'; background-color: #ffe0cf; z-index: 1000; }
.home { position: absolute; top: 21px; left: 227px; width: 46px; height: 48px; overflow: hidden; }
.icon { position: absolute; height: 83.33%; width: 75%; top: 8.33%; right: 12.49%; bottom: 8.33%; left: 12.51%; max-width: 100%; overflow: hidden; max-height: 100%; }
.shopping-cart { position: absolute; top: 21px; left: 1934px; width: 46px; height: 48px; overflow: hidden; }
.product-detail-v20-icon { position: absolute; height: 87.5%; width: 91.74%; top: 4.17%; right: 4.09%; bottom: 8.33%; left: 4.17%; max-width: 100%; overflow: hidden; max-height: 100%; }
.account-circle-icon { position: absolute; top: 20px; left: 1769px; width: 52px; height: 53px; }
.search-field { position: absolute; height: 48.48%; width: 58.71%; top: 21.21%; right: 20.68%; bottom: 30.3%; left: 20.62%; background-color: #fff; display: flex; align-items: center; justify-content: center; padding: 0px 4px 0px 8px; box-sizing: border-box; gap: 2px; }
.bg { width: calc(100% + 0.3px); position: absolute; margin: 0 !important; height: 100%; top: 0px; right: -0.3px; bottom: 0px; left: 0px; border-radius: 6px; z-index: 0; }
.border { position: absolute; height: 100%; width: 100%; top: 0px; right: 0px; bottom: 0px; left: 0px; box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08); border-radius: 1000px; background-color: #fff; overflow: hidden; }
.fill { position: absolute; height: 100%; width: 100%; top: 0px; right: 0px; bottom: 0px; left: 0px; border-radius: 1000px; background-color: rgba(255,121,38,0.18); overflow: hidden; }
.magnifying-glass { width: 16px; position: relative; height: 15px; z-index: 1; }
.div { position: absolute; height: 100%; width: 100%; top: 0%; left: 0%; line-height: 20px; font-weight: 500; display: flex; align-items: center; justify-content: center; }
.search { flex: 1; position: relative; font-size: 20px; line-height: 16px; font-weight: 500; font-family: 'SF Pro'; color: #999; white-space: nowrap; text-align: left; overflow: hidden; text-overflow: ellipsis; mix-blend-mode: linear-burn; z-index: 2; }
.clear { width: 16px; position: relative; height: 15px; z-index: 3; }
.header-child { display: none; }
.icon-button { position: absolute; top: 21px; left: 357px; border-radius: 32px; background-color: #ffa065; width: 48px; height: 48px; overflow: hidden; display: flex; align-items: center; justify-content: center; padding: 12px; box-sizing: border-box; }
.menu { width: 20px; position: relative; height: 20px; overflow: hidden; flex-shrink: 0; }
.icon2 { position: absolute; height: 50%; width: 75%; top: 25%; right: 12.5%; bottom: 25%; left: 12.5%; max-width: 100%; overflow: hidden; max-height: 100%; }
.page-product { position: absolute; top: 115px; left: 280px; background-color: #fff; width: 1200px; display: flex; flex-direction: column; align-items: flex-start; padding: 32px 48px; box-sizing: border-box; min-width: 240px; color: #999; }
.section { align-self: stretch; display: flex; align-items: flex-start; position: relative; gap: 64px; }
.image-icon { width: 700px; height: 520px; max-width: 100%; object-fit: cover; border-radius: 8px; }
.column { flex: 1; height: 470px; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: 24px; z-index: 1; }
.body { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; gap: 16px; }
.title4 { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; gap: 16px; color: #1e1e1e; }
.product-detail-v20-text-heading { position: relative; letter-spacing: -0.02em; line-height: 120%; font-weight: 600; }
.price { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }
.text-price { display: flex; align-items: flex-end; justify-content: center; }
.product-detail-v20-price { display: flex; align-items: flex-start; }
.b { position: relative; letter-spacing: -0.02em; line-height: 100%; }
.product-detail-v20-b { position: relative; font-size: 48px; letter-spacing: -0.02em; line-height: 100%; }
.b2 { align-self: stretch; position: relative; font-size: 20px; display: inline-block; text-align: right; height: 18px; flex-shrink: 0; }
.text { align-self: stretch; height: 159px; display: flex; align-items: flex-start; font-size: 16px; }
.product-detail-v20-text { flex: 1; position: relative; line-height: 140%; flex-shrink: 0; }
.fields { align-self: stretch; display: flex; align-items: center; font-size: 16px; color: #1e1e1e; }
.select-field { flex: 1; display: flex; flex-direction: column; align-items: flex-start; gap: 8px; }
.label { align-self: stretch; position: relative; line-height: 140%; }
.select { align-self: stretch; border-radius: 8px; background-color: #fff; border: 1px solid #d9d9d9; box-sizing: border-box; height: 41px; display: flex; align-items: center; padding: 12px 12px 12px 16px; gap: 8px; min-width: 240px; }
.value { flex: 1; position: relative; line-height: 100%; }
.chevron-down { width: 16px; position: relative; height: 16px; overflow: hidden; flex-shrink: 0; }
.icon3 { position: absolute; height: 25%; width: 50%; top: 37.5%; right: 25%; bottom: 37.5%; left: 25%; max-width: 100%; overflow: hidden; max-height: 100%; }
.button { align-self: stretch; border-radius: 8px; background-color: #e6c350; border: 1px solid #e6c350; overflow: hidden; display: flex; align-items: center; justify-content: center; padding: 12px; font-size: 20px; color: #f5f5f5; }
.product-detail-v20-button { position: relative; font-weight: 500; }
.product-detail-v20-icon-button { margin: 0 !important; position: absolute; top: 10px; left: 10px; border-radius: 32px; background-color: #ffa065; border: 1px solid #ffa065; overflow: hidden; display: flex; align-items: center; justify-content: center; padding: 12px; z-index: 2; }
.icon4 { position: absolute; height: 76%; width: 87%; top: 12.49%; right: 6.55%; bottom: 11.51%; left: 6.45%; max-width: 100%; overflow: hidden; max-height: 100%; }
.card-grid-reviews { position: absolute; top: 108px; right: 32px; background-color: #fff; width: 468px; display: flex; flex-direction: column; align-items: center; padding: 20px; box-sizing: border-box; gap: 20px; }
.text-heading2 { display: flex; align-items: flex-start; justify-content: center; }
.card-grid { align-self: stretch; display: flex; align-items: flex-start; flex-wrap: wrap; align-content: flex-start; gap: 48px; }
.review-card { flex: 1; border-radius: 8px; background-color: #fff; border: 1px solid #d9d9d9; box-sizing: border-box; display: flex; flex-direction: column; align-items: flex-start; padding: 24px; gap: 24px; min-width: 240px; }
.rating { display: flex; align-items: center; gap: 4px; }
.icon5 { position: absolute; height: 79.5%; width: 83.5%; top: 8.33%; right: 8.17%; bottom: 12.17%; left: 8.33%; max-width: 100%; overflow: hidden; max-height: 100%; }
.review-body { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; gap: 4px; }
.text2 { align-self: stretch; display: flex; align-items: flex-start; font-size: 16px; }
.text3 { flex: 1; position: relative; line-height: 140%; }
.avatar-block { align-self: stretch; display: flex; align-items: flex-start; gap: 12px; font-size: 16px; color: #757575; }
.avatar { width: 40px; position: relative; border-radius: 9999px; height: 40px; overflow: hidden; flex-shrink: 0; }
.shape-icon { position: absolute; top: calc(50% - 20px); left: calc(50% - 20px); width: 40px; height: 40px; object-fit: cover; }
.info { flex: 1; display: flex; flex-direction: column; align-items: flex-start; gap: 2px; }
.title5 { align-self: stretch; position: relative; line-height: 140%; font-weight: 600; }
.product-detail-v20-description { align-self: stretch; position: relative; line-height: 140%; color: #b3b3b3; }
.filter-menu { position: absolute; top: 99px; left: 1px; background-color: #fff; border-right: 2px solid #d9d9d9; box-sizing: border-box; width: 401px; height: 853px; overflow: hidden; display: flex; flex-direction: column; align-items: flex-start; padding: 16px; gap: 24px; font-size: 20px; }
.product-detail-v20-section { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; }
.checkbox-group { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; gap: 12px; }
.description-row { align-self: stretch; height: 22px; display: flex; align-items: center; }
.product-detail-v20-checkbox-field { align-self: stretch; height: 44px; display: flex; flex-direction: column; align-items: flex-start; }
.product-detail-v20-label { align-self: stretch; display: flex; align-items: flex-start; justify-content: space-between; gap: 0px; }
.label2 { flex: 1; position: relative; }
.slider-output { display: flex; align-items: center; text-align: right; font-size: 14px; }
.prefix { position: relative; line-height: 140%; }
.slider { align-self: stretch; display: flex; align-items: center; }
.block { flex: 1; border-radius: 9999px; background-color: rgba(251,188,4,0.2); height: 8px; display: flex; align-items: center; }
.knob-start { width: 16px; position: relative; border-radius: 9999px; background-color: #e6c350; height: 16px; overflow: hidden; flex-shrink: 0; }
.product-detail-v20-slider { height: 6px; flex: 1; overflow: hidden; display: flex; align-items: flex-start; }
.text9 { position: relative; }
.product-detail-v20-checkbox-group { align-self: stretch; display: flex; flex-direction: column; align-items: flex-start; gap: 12px; font-size: 16px; }
.checkbox-and-label { align-self: stretch; display: flex; align-items: center; gap: 12px; }
.checkbox { width: 16px; border-radius: 4px; background-color: #e6c350; height: 16px; overflow: hidden; flex-shrink: 0; display: flex; align-items: center; justify-content: center; }
.icon20 { position: absolute; height: 45.63%; width: 66.88%; top: 25%; right: 16.46%; bottom: 29.37%; left: 16.67%; max-width: 100%; overflow: hidden; max-height: 100%; }
.filter { position: absolute; top: 149px; left: 16px; letter-spacing: -0.02em; line-height: 120%; font-weight: 600; color: #000; display: inline-block; width: 186px; height: 44px; }

